
body{
    font-family: 'ubuntu', sans-serif;

}
h2{
    font-weight: 700;
    font-size: 40px;
}
h3{
    font-weight: 400;
    font-size: 24px;
}
p{
    font-size: 18px;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    display: flex;
    margin: 60px 0;
}
.nav-list{
    display: flex;
    list-style: none;
    padding-left: 120px;
}
.nav-item{
    padding-left: 40px;
}
a{
    color: #4B5D68;
    text-decoration: none;
}
a:hover{
    color: #212353;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
}
.logo-img{
    width: 50px;
    height: 35px;
    margin: auto 0;
}
.hero{
    background-image: url("../img/hero.svg");
    height: 742px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 885px 468px;
    background-position: right, bottom;
}
.hero-title{
    font-weight: 700;
    font-size: 80px;
    margin: 0;

}
.hero-description{
    width: 380px;
}
.hero-button{
    color: #FFF;
    display: block;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    background: #9C69E2;
    padding: 15px 40px;
    font-size: 18px;
    text-decoration: none;
    margin: 60px 0;
}
.hero-button:hover{
    filter: invert(30%);
}
.promo{
    display: flex;
    width: 1120px;
    height: 560px;
    border-radius: 50px;
    background: #F063B826;
}
.promo-img{
    width: 470px;
}
.promo-content{
    margin: auto;
    width: 475px;
}
.promo-content-title{
    padding-bottom: 40px;
}
.features-title{
    width: 700px;
    text-align: center;
    margin: 150px auto 0;
}
.features-title p{
    padding: 50px;
}
.features-card-lists{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}
.features-card{
    display: flex;
    width: 530px;
    background-image: url("../img/bg-card.svg");

}
.features-card img{
    margin: auto;
    width: 230px;
}
.feature-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.feature-card-wrapper p{
    padding: 20px 0;
}
.features-card-link{
    display: flex;
}
.arrow{
    max-width: 30px;
    padding-left: 10px;
    height: 14px;
}
.testimonials{
    background: #9C69E2;
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    padding: 90px;
}
.testimonials h2{
    padding: 100px;
}